/* 公共类 */

/* 自定义字体 */
@font-face {
    font-family: "PingFangSCRegular";
    src: url('../fonts/PingFangSCRegular.ttf') format('truetype');
}

/* 通过body让元素继承字体 */
body {
    font-family: "PingFangSCRegular";
}

/* 水平居中 版心 */
.center-wrap {
    width: 1152px;
    margin: 0 auto;
}

/* 清除浮动 */
.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

/* 文字居中 */
.tac {
    text-align: center;
}

/* 块级元素 */
.db {
    display: block;
}

/* 行内块元素 */
.dib {
    display: inline-block;
}

/* h2标题 */
.content-part h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1c1f21;
}

/* em标签 */
.content-part em {
    float: left;
    position: relative;
    top: 25px;
    left: 10px;
    color: #1c1f21;
    font-size: 12px;
}


/* 二级导航栏 */
.content-part .hd nav {
    float: right;
    width: 546px;
}

.content-part .hd nav ul {
    padding-top: 16px;
}

.content-part .hd nav ul li {
    float: left;
    margin-right: 16px;
    font-size: 14px;
}

.content-part .hd nav ul li:last-child {
    margin-right: 0;
}

.content-part .hd nav ul li a {
    color: rgba(0, 0, 0, .85);
}

.content-part .hd nav ul li.current {
    border-bottom: 4px solid #20bd9a;
    padding-bottom: 4px;
}

.content-part .hd nav ul li.current a {
    color: #20bd9a;
}

/* 查看更多 */
.content-part .more-grid {
    position: relative;
    width: 264px;
    height: 270px;
    background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
    box-sizing: border-box;
}

.content-part .more-grid p {
    text-align: center;
    color: white;
    font-size: 15px;
}

.content-part .more-grid a {
    box-sizing: border-box;
    display: block;
    padding-top: 46px;
    height: 270px;
}

.content-part .more-grid .iconfont {
    position: absolute;
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 118px;
    margin-left: -24px;
}

.content-part .more-grid:hover .iconfont {
    animation: ud .4s ease 0s infinite alternate;
}

@keyframes ud {
    form {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.content-part .more-grid ul {
    margin-top: 112px;
    padding-left: 40px;
}

.content-part .more-grid ul li {
    float: left;
    border-right: 1px solid white;
    color: white;
    padding: 0 9px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}

.content-part .more-grid ul li:last-child {
    border-right: none;
}

/* 图片特效 */
.content-part li {
    overflow: hidden;
}

.content-part li .picbox {
    height: 184px;
    overflow: hidden;
}

.content-part .grid {
    overflow: hidden;
}

.content-part img {
    transition: transform .4s ease 0s;
}

.content-part img:hover {
    transform: scale(1.1);
}